label{
	display: inline-block;
	@include font-vw(20);
	text-align: left;
	width: 100%;
}

.login--popup{
	margin: 30px auto 0;
	text-align: center;
	.content {
		display: inline-block;
		position: relative;
		max-width: calc-vw(1200);
		margin: 0 auto;
		border: 1px solid #000;
		.img {
			display: inline-block;
			width: calc-vw(400);
			min-height: calc-vw(500);
			background-color: #ccc;
			margin:0 0 0 1px;
		}
		.info {
			width: calc-vw(790);
			text-align: center;
			float: right;
			padding: calc-vw(25);
			input {
				border: 1px solid #000;
				padding: 0 calc-vw(20);
				width: 100%;
				line-height: calc-vw(50);
			}
			a {
				border: 1px solid #000;
				padding: 0 20px;
				line-height: 30px;
				display: inline-block;
				margin: 10px 0;
				color: #000;
				background: #E5E5E5;
			}
			p{
				display: inline-block;
				width: 100%;
				&:last-child {
					a {
						border: 0;
						float: left;
						padding: 0;
						background: transparent;
					}
					span {
						float: right;
						display: flex;
						justify-content: center;
						align-items: center;
						a {
							margin-left: 20px;
							text-decoration: underline;
						}
					}
				}
			}
		}
		.btn-close{
			position: absolute;
			content: "";
			width: 20px;
			font-size:30px;
			height: 20px;
			right: -10px;
			top: -20px;
			vertical-align: middle;
			text-align: center;
		}
	}
}

.register--popup{
	.content{
		.info{
			label{
				float: left;
				width: 50%;
				margin: 10px 0 0;
				padding: 0 9px;
				&.check-dieukien{
					width: 100%;
					input{
						width:auto;
					}
				}
				select{
					line-height: calc-vw(50);
					border: 1px solid #000;
					border-radius: 0;
					padding: calc-vw(12);
					width: 100%;
					background: transparent;
				}
			}
			input{
				display: inline-block;
			}
			.dieukien{
				border: 0;
				padding: 0;
				font-weight: 700;
				text-decoration: underline;
				background: transparent;
			}
			p:last-child{
				a{
					border: 1px solid #000;
					padding: 0 20px;
					float: none;
					background-color: #E5E5E5;
				}
			}
		}
	}
}

.register--popup-success{
	.content{
		.info{
			p:last-child{
				margin:40px 0 20px;
				a{
					border: 1px solid #000;
					padding: 0 10px;
					float: none;
					margin: 0 10px;
				}
				a:first-child{

				}
				a:last-child{

				}
			}
		}
	}
}