<header id="main-header">
	<nav class="navGlobal">
		<ul class="navGlobalIn">
			<li class="nav01"><a href="" class="">ホーム</a></li>
			<li class="nav02"><a href="" class="">コーディングラボについて</a></li>
			<li class="nav03"><a href="" class="">料金</a></li>
			<li class="nav04"><a href="" class="">制作の流れ</a></li>
		</ul>
	</nav>
</header>