<main class="page-<%= pageData.template %>">

	<% include common/_breadcrumb.ejs %>

	<h1 class="ttlCom01">
		<span class="ttlCom01In">headline module </span>
	</h1>

	<p class="txtBasic">text module、identifier ～</p>

	<a href="" class="linkCmn">OOCSS</a>

	<a href="" class="btnCom btnFavorite"><span class="num">100</span>イイね</a>

	<input type="submit" value="送信する" class="btnCom btnSubmit">

	<ul class="listOption">
		<li class="item">HTML</li>
		<li class="item">CSS</li>
		<li class="item">JavaScript</li>
	</ul>

	<div class="boxReading">
		<h2 class="ttlCom01">ボックスモジュールとは</h2>
		<p class="txtCom01">モジュールコーディングという考え方～</p>
		<a href="" class="linkCom01">続きを読む</a>
	</div>

	<div class="gridCom column-3">
		<div class="col">
			<img class="imageCodingDetail" src="img/XXX.jpg">
			<h2 class="ttlCodingDetail">コーディングの秘訣その1</h2>
			<p class="txtCodingDetail">モジュールコーディングという考え方は～</p>
		</div>
		<div class="col">
			<img class="imageCodingDetail" src="img/XXX.jpg">
			<h2 class="ttlCodingDetail">コーディングの秘訣その1</h2>
			<p class="txtCodingDetail">モジュールコーディングという考え方は～</p>
		</div>
		<div class="col">
			<img class="imageCodingDetail" src="img/XXX.jpg">
			<h2 class="ttlCodingDetail">コーディングの秘訣その1</h2>
			<p class="txtCodingDetail">モジュールコーディングという考え方は～</p>
		</div>
	</div>

</main>