<div class="register--popup-success login--popup">
	<div class="content">
		<div class="info">
			<h2>CHÚC MỪNG BẠN ĐÃ ĐĂNG KÝ THÀNH CÔNG</h2>
			<p><a href="" title="NHẬP MÃ THẺ">NHẬP MÃ THẺ</a><a href="" title="VỀ TRANG CHỦ">VỀ TRANG CHỦ</a></p>
		</div>
		<a href="" class="btn-close">X</a>
	</div>
</div>