<div class="login--popup">
	<div class="content">
		<div class="img"></div>
		<div class="info">
			<label>SỐ ĐIỆN THOẠI<br><input type="text" placeholder="Nhập số điện "/></label>
			<label>MẬT KHẨU<br><input type="password" placeholder="Nhập mật khẩu"/></label>
			<p><a href="" title="ĐĂNG NHẬP">ĐĂNG NHẬP</a></p>
			<p>hoặc</p>
			<p><a href="" title="ĐĂNG NHẬP VỚI FACEBOOK">ĐĂNG NHẬP VỚI FACEBOOK</a></p>
			<p>
				<a href="" title="QUÊN MẬT KHẢU">QUÊN MẬT KHẢU</a>
				<span>CHƯA CÓ TÀI KHOẢN?<a href="" title="ĐĂNG KÝ NGAY">ĐĂNG KÝ NGAY</a></span>
			</p>
		</div>
		<a href="" class="btn-close">X</a>
	</div>
</div>