<div class="login--popup login--popup-02">
	<div class="content">
		<div class="img"></div>
		<div class="info">
			<p>VUI LÒNG NHẬP SỐ ĐIỆN THOẠI VÀO KHUNG BÊN DƯỚI ĐỂ CHÚNG TÔI GỬI MẬT KHẨU MỚI CHO BẠN. HÃY THAY ĐỔI MẬT KHẨU NGAY KHI BẠN NHẬN ĐƯỢC MẬT KHẨU MỚI NHÉ.</p>
			<label>SỐ ĐIỆN THOẠI<br><input type="text" placeholder="Nhập số điện thoại"/></label>
			<div id="message"  style="color: red; margin: 30px 0 0">
				<p>MẬT KHẨU MỚI ĐÃ ĐƯỢC GỬI. VUI LÒNG KIỂM TRA TIN NHẮN</p>
			</div>
			<div class="captcha" style="margin: 10px 0 0">getcaptcha</div>
			<p><a href="" title="GỬI MẬT KHẨU MỚI">GỬI MẬT KHẨU MỚI</a></p>
			<p>
				<a href="" title="QUÊN MẬT KHẢU" style="text-decoration: underline">VỀ TRANG CHỦ</a>
				<span>CHƯA CÓ TÀI KHOẢN?<a href="" title="ĐĂNG KÝ NGAY">ĐĂNG KÝ NGAY!</a></span>
			</p>
		</div>
		<a href="" class="btn-close">X</a>
	</div>
</div>