<div class="register--popup login--popup">
	<div class="content">
		<div class="info">
			<h2>ĐĂNG KÝ NGAY ĐỂ THEO ĐUỔI GIẤC MƠ CỦA BẠN</h2>
			<label>HỌ VÀ TÊN<br><input type="text" placeholder="NGUYEN VAN A"/></label>
			<label>SỐ ĐIỆN THOẠI<br><input type="text" placeholder="012345678"/></label>
			<label>MẬT KHẨU<br><input type="password" placeholder="Nhập mật khẩu"/></label>
			<label>NHẬP LẠI MẬT KHẨU<br><input type="password" placeholder="Nhập lai mật khẩu"/></label>
			<label>THÀNH PHỐ<br>
				<select name="" id="">
					<option value="">HO CHI MINH CITY</option>
					<option value="">HA NOI</option>
					<option value="">HA NAM</option>
				</select>
			</label>
			<label>GIỚI TÍNH<br>
				<select name="" id="">
					<option value="">NAM</option>
					<option value="">NU</option>
				</select>
			</label>
			<label class="check-dieukien" for="check-dieukien"><input id="check-dieukien" type="checkbox"/> Tôi đã đọc và đồng ý với <a class="dieukien" href="" title="Điều kiện và Điều khoản">Điều kiện và Điều khoản</a> của chương trình</label>
			<p><a href="" title="ĐĂNG KÝ NGAY">ĐĂNG KÝ NGAY</a></p>
			<p>hoặc</p>
			<p><a href="" title="ĐĂNG KÝ VỚI FACEBOOK">ĐĂNG KÝ VỚI FACEBOOK</a></p>
		</div>
		<a href="" class="btn-close">X</a>
	</div>
</div>